<!-- author ben lason (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile</a></p>
{% endif %}

<ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/add-tag'>Add tags</a> </li>
    <li><a href='/popular-tags'>Popular</a> </li>
    <li><a href='/tags'>View Tags</a> </li>
    <li><a href='/you-may-also-like-tags'>You may also like</a> </li>
    <li><a href='/topUser'>Top Users</a> </li>
    <li><a href='/search-comment'>Search comment</a> </li>
    <li><a href='/search-photo'>Search photos</a> </li>
    <li><a href='/profile/tags'>Your Tags</a> </li>
    <li><a href='/topUser'>Top Users!</a> </li>
    <li><a href='/findfriends'>Search for friends!</a> </li>
    <li><a href='/listfriends'>List your friends!</a> </li>
    <li><a href='/recFriends'>Recommended friends!</a> </li>
    <li><a href='/createAlbum'>Create album!</a> </li>
    <li><a href='/viewAlbums'>View your albums!</a> </li>
    <li><a href='/viewAllAlbums'>View all albums!</a> </li>
    <li><a href='/logout'>Logout</a></li>
</ul>

{% if photos%}
<h2>Photos!</h2>
    <ul>
    {% for photo in photos %}
        
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <li>Caption: {{photo[2]}}<br>

        {% if likes %}
            {% for like in likes[0] %}
                {% if photo[1] == like[0]%}

                    <li>Likes: {{like[1]}}</li>
                    <li>Liked By: </li>
                    {% for likeby in likes[1]%}
                        {% if photo[1] == likeby[0]%}
                            <li> {{likeby[1]}} {{likeby[2]}} </li>
                        {% endif %}
                    {% endfor %}

                {% endif %}

            {% endfor %}

        {% endif %}

        <form method="post">
            <input type="submit" name = "like" value= "Like" >
            <input type="hidden" name="photo_id" value = {{photo[1]}}> 
        </form>
        

        {% for comment in comments %}
            {% if comment[1] == photo[1] %}
                <li>{{comment[0]}}<br>
            {% endif %}
        {% endfor %}
        

        <form method="post" action="/">
          <label for="comment">Comment: </label>
          <input type="text" name="comment" required='true' /><br />
          <input type="hidden" name="photo_id" value = {{photo[1]}}> 
          <input type="submit" value="Comment" />
        </form>

    {% endfor %}
    </ul>
{% endif %}




